# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Virtual environment
venv/

# Recordings
recordings/

# OS files
.DS_Store
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.iml
